{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videoforum/recorder

    Example context (json):
    {
        Aqui tem que criar o context em inglês
    }
}}
<div class="videoforum-recorder"
     data-maxduration="{{maxduration}}"
     data-parentid="{{parentid}}"
     data-allowupload="{{#allowupload}}1{{/allowupload}}{{^allowupload}}0{{/allowupload}}"
     data-allowrecording="{{#allowrecording}}1{{/allowrecording}}{{^allowrecording}}0{{/allowrecording}}">
    <div class="row g-3">
        <div class="col-12 col-md-6">
            <label class="form-label">{{#str}}title, videoforum{{/str}}</label>
            <input class="form-control" type="text" maxlength="120" data-field="title">
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">{{#str}}description, videoforum{{/str}}</label>
            <input class="form-control" type="text" maxlength="500" data-field="description">
        </div>
    </div>

    <input type="hidden" value="{{parentid}}" data-field="parentid">

    <div class="videoforum-recorder-stage mt-3">
        <video class="videoforum-preview" playsinline controls data-role="preview"></video>
        <div class="videoforum-counter" data-role="counter">00:00 / {{maxduration}}s</div>
    </div>

    <div class="videoforum-recorder-actions mt-3">
        {{#allowrecording}}
            <button type="button" class="btn btn-danger" data-action="record">
                {{#str}}record, videoforum{{/str}}
            </button>
            <button type="button" class="btn btn-outline-secondary d-none" data-action="stop">
                {{#str}}stop, videoforum{{/str}}
            </button>
        {{/allowrecording}}

        {{#allowupload}}
            <label class="btn btn-outline-secondary mb-0">
                {{#str}}choosevideo, videoforum{{/str}}
                <input class="visually-hidden" type="file" accept="video/mp4,video/webm" data-field="file">
            </label>
        {{/allowupload}}

        <button type="button" class="btn btn-outline-secondary" data-action="cancel">
            {{#str}}cancel, videoforum{{/str}}
        </button>
        <button type="button" class="btn btn-primary" data-action="publish" disabled>
            {{#str}}publish, videoforum{{/str}}
        </button>
    </div>

    <p class="small text-muted mt-2">{{#str}}recordingpermission, videoforum{{/str}}</p>
</div>
